
#-- user coloring
set titlecolor brightwhite,blue
set statuscolor brightwhite
set errorcolor brightred
set selectedcolor brightwhite,cyan
set numbercolor brightblack
set keycolor brightblue
set functioncolor yellow


#-- add syntax styles
include ~/.nano/*.nanorc
