
#-- user coloring
set titlecolor brightwhite,blue
set statuscolor brightyellow
set errorcolor brightred
set selectedcolor brightyellow,magenta
#set stripecolor yellow
set numbercolor brightblack,black
set keycolor brightgreen,blue
set functioncolor yellow


#-- add syntax styles
include ~/.nano/*.nanorc
