
#-- user coloring
set titlecolor brightwhite,blue
set statuscolor white
set errorcolor brightred
set selectedcolor black,cyan
#set stripecolor brightblack
set numbercolor brightblack,black
set keycolor brightcyan,blue
set functioncolor yellow


#-- add syntax styles
include ~/.nano/*.nanorc
