
#-- user coloring
set titlecolor brightwhite,blue
set statuscolor brightwhite
set errorcolor brightred
set selectedcolor brightwhite,magenta
#set stripecolor yellow
set numbercolor brightblack,black
set keycolor brightgreen,blue
set functioncolor brightyellow


#-- add syntax styles
include ~/.nano/*.nanorc
